<app-question [questionText]="questionText"></app-question>
<div class="text-center mt-3 test-here-label">Test Here.</div>
<form [formGroup]="jsonForm" (ngSubmit)="getObjectKeys()">
    <ng-container>
        <div class="d-flex mt-3">
            <textarea class="col-12" rows="5" formControlName="JSONelement" placeholder="Enter object"></textarea>
        </div>
        <div class="error ml-3" *ngIf="(jsonForm.get('JSONelement').invalid) && (jsonForm.get('JSONelement').touched || jsonForm.get('JSONelement').dirty)">
            {{getErrorMessage(jsonForm, validationMessages, 'JSONelement')}}
        </div>
    </ng-container>
    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-primary" [disabled]="jsonForm.invalid">Submit</button>
    </div>
</form>

<div class="mt-3">
    <app-output [outputInfo]="result"></app-output>
</div>