<div class="container">
    <app-question [questionText]="questionText"></app-question>
    <div class="text-center mt-3 test-here-label">Test Here.</div>

    <form [formGroup]="reversedStringForm">
        <div class="form-group">
            <label for="fieldToReverse"></label>
            <textarea class="form-control" formControlName="stringToBeReversed" id="fieldToReverse" rows="3"
                placeholder="Enter the string"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" [disabled]="reversedStringForm.invalid" (click)="reverseWordsOfString()">Submit</button>
            <button class="btn btn-danger ml-3" (click)="clearText()">Clear</button>
        </div>
    </form>

    <div class="d-flex justify-content-between mt-3" *ngIf="(customStringOutput && customStringOutput !== '')  || (builtInOutput && builtInOutput !== '')">
        <div class="col-6">
            <p class="ml-3">Without inbuild methods</p>
            <app-output [outputInfo]="customStringOutput" #custom></app-output>
        </div>
        <div class="col-6">
            <p class="ml-3">With inbuild methods</p>
            <app-output [outputInfo]="builtInOutput" #builtIn></app-output>
        </div>
    </div>
</div>