<div>
    <div class="mt-5">
        <form [formGroup]="addListForm" class="" (ngSubmit)="addElementToList()">
            <div class="form-group col-md-12 d-flex justify-content-center">
                <input type="text" formControlName="element" class="form-control" id="listField" placeholder="Enter Items into List">
                <button class="btn btn-primary btn-sm width-100" type="submit" [disabled]="addListForm.invalid">
                    <i class="fa fa-plus"></i>&nbsp;Add
                </button>
            </div>
            <div class="error ml-3" *ngIf="(addListForm.get('element').invalid) && (addListForm.get('element').touched || addListForm.get('element').dirty)">
                {{getErrorMessage(addListForm, validationMessages, 'element')}}
            </div>
        </form>
        <div>
            <ng-container *ngFor="let item of itemsList; let i=index">
                <div class="d-flex item col-md-10 ml-3 mt-2">
                    <div class="col-md-10">
                        {{item}}
                    </div>
                    <div class="text-right col-md-2">
                        <i class="fa fa-trash" aria-hidden="true" (click)="deleteFromList(i)"></i>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="d-flex justify-content-end col-md-12 mt-2">
            <button class="btn btn-primary" [disabled]="itemsList.length <= 0" (click)="submitArray()">Submit Array</button>
        </div>
    </div>
</div>