<div class="d-flex justify-content-center mt-5">
    <div class="card fonts" style="width: 25rem;">
        <div class="card-body text-center">
            <img src="" />
            <p class="card-title">KORTHIVADA SAI KUMAR</p>
            <p class="card-text"><b>Years of Experience:</b>3.5 Years</p>
            <p class="card-text"><b>Email:</b> korthivadasaikumar@gmail.com</p>
            <p class="card-text"><b>Resume Link: </b>
                <a href="https://drive.google.com/open?id=1UMti8mQTnECcQJ03nfxzqh5IbZR3RCX-" target="_blank">Click Here</a></p>
            <button type="button" class="btn btn-primary" routerLink="/question-one">Test Application Here</button>
        </div>
    </div>
</div>