<nav class="navbar navbar-expand-sm bg-light justify-content-end">
    <ul class="navbar-nav">
        <li class="nav-item mr-3">
            <a class="nav-link" routerLinkActive="active" routerLink="/launch"><i class="fa fa-home"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item mr-3">
            <a class="nav-link" routerLinkActive="active" routerLink="/question-one">Question 1</a>
        </li>
        <li class="nav-item mr-3">
            <a class="nav-link" routerLinkActive="active" routerLink="/question-two">Question 2</a>
        </li>
        <li class="nav-item mr-3">
            <a class="nav-link" routerLinkActive="active" routerLink="/question-three">Question 3</a>
        </li>
        <li class="nav-item mr-3">
            <a class="nav-link" routerLinkActive="active" routerLink="/question-four">Question 4</a>
        </li>
        <li class="nav-item mr-3">
            <a class="nav-link" routerLinkActive="active" routerLink="/question-five">Question 5</a>
        </li>
    </ul>
</nav>